[submodule "vs-Femyou"]
	path = SmartNode/Femyou
	url = https://github.com/selabhvl/vsto-Femyou.git
[submodule "SmartNode/Implementations/FMUs/Nordpool-FMU"]
	path = SmartNode/Implementations/FMUs/Nordpool-FMU
	url = https://codeberg.org/fm_volker/Nordpool-FMU.git
[submodule "SmartNode/Implementations/FMUs/PythonFMU"]
	path = SmartNode/Implementations/FMUs/PythonFMU
	url = https://github.com/NTNU-IHB/PythonFMU.git
