[submodule "vs-Femyou"]
	path = SmartNode/Femyou
	url = git@github.com:selabhvl/vsto-Femyou.git
[submodule "SmartNode/Implementations/FMUs/Nordpool-FMU"]
	path = SmartNode/Implementations/FMUs/Nordpool-FMU
	url = https://codeberg.org/fm_volker/Nordpool-FMU.git
