@prefix : <http://www.semanticweb.org/ivans/ontologies/2025/instance-model-1#>.
@prefix meta: <http://www.semanticweb.org/ivans/ontologies/2025/dt-code-generation/>.
@prefix ssn: <http://www.w3.org/ns/ssn/>.
@prefix sosa: <http://www.w3.org/ns/sosa/>.
@include <OWL>.

// The following rule covers individuals with one or two constraints. Once an OptimalCondition constraint has been
// located, a mark will be placed to allow subsequent rules to match and fire.

[rule1a:    (?individual rdf:type owl:NamedIndividual)
            (?individual rdf:type meta:OptimalCondition)
            (?individual ssn:forProperty ?observableProperty)
            (?individual meta:hasValueConstraint ?bNode1)
            (?bNode1 rdf:type ?bNode2)
            (?bNode2 owl:withRestrictions ?bNode3)
            (?bNode3 rdf:first ?restriction)
            ->  (?restriction rdf:comment ?observableProperty)
]

// Upon locating the marks for OptimalCondition constraints or optimization targets, these rules find the
// respective PropertyChanges and set a mark for the class of required changes to the property in question.

[rule2a:    (?restriction rdf:comment ?observableProperty)
            (?observableProperty meta:propertyFor ?propertyChange)
            (?propertyChange rdf:type meta:PropertyChange)
            (?propertyChange meta:affectsPropertyWith meta:ValueIncrease)
            (?restriction xsd:minExclusive ?value)
            ->  (_: rdf:comment ?propertyChange)
]

[rule2b:    (?restriction rdf:comment ?observableProperty)
            (?observableProperty meta:propertyFor ?propertyChange)
            (?propertyChange rdf:type meta:PropertyChange)
            (?propertyChange meta:affectsPropertyWith meta:ValueIncrease)
            (?restriction xsd:minInclusive ?value)
            ->  (_: rdf:comment ?propertyChange)
]

[rule2c:    (?restriction rdf:comment ?observableProperty)
            (?observableProperty meta:propertyFor ?propertyChange)
            (?propertyChange rdf:type meta:PropertyChange)
            (?propertyChange meta:affectsPropertyWith meta:ValueDecrease)
            (?restriction xsd:maxExclusive ?value)
            ->  (_: rdf:comment ?propertyChange)
]

[rule2d:    (?restriction rdf:comment ?observableProperty)
            (?observableProperty meta:propertyFor ?propertyChange)
            (?propertyChange rdf:type meta:PropertyChange)
            (?propertyChange meta:affectsPropertyWith meta:ValueDecrease)
            (?restriction xsd:maxInclusive ?value)
            ->  (_: rdf:comment ?propertyChange)
]

[rule2e:    (?thing meta:optimizesFor ?propertyChange)
            ->  (_: rdf:comment ?propertyChange)
]

// The following rules locate property change marks and generate appropriate Strategies for optimal condition
// mitigation, either based on Actuators and ActuatorStates or ConfigurableProperty changes. The last rule
// also creates a no-op Strategy.

[rule3a:    (?thing rdf:comment ?propertyChange)
            (?propertyChange meta:enactedBy ?actuatorState)
            (?propertyChange meta:affectsPropertyWith meta:ValueIncrease)
            (?actuatorState rdf:type meta:ActuatorState)
            (?actuatorState meta:isStateOf ?actuator)
            (?actuator rdf:type sosa:Actuator)
            makeTemp(?strategy)
            ->  (?strategy rdf:type meta:Strategy)
                (?strategy ssn:implements ?actuatorState)
                (?strategy ssn:implements ?actuator)
                (?strategy meta:hasIdentifier ?strategy)
]

[rule3b:    (?thing rdf:comment ?propertyChange)
            (?propertyChange meta:enactedBy ?actuatorState)
            (?propertyChange meta:affectsPropertyWith meta:ValueDecrease)
            (?actuatorState rdf:type meta:ActuatorState)
            (?actuatorState meta:isStateOf ?actuator)
            (?actuator rdf:type sosa:Actuator)
            makeTemp(?strategy)
            ->  (?strategy rdf:type meta:Strategy)
                (?strategy ssn:implements ?actuatorState)
                (?strategy ssn:implements ?actuator)
                (?strategy meta:hasIdentifier ?strategy)
]

[rule3c:    (?thing rdf:comment ?propertyChange)
            (?propertyChange meta:enactedBy ?configurableProperty)
            (?propertyChange meta:affectsPropertyWith meta:ValueIncrease)
            (?configurableProperty rdf:type meta:ConfigurableProperty)
            (?propertyChange meta:alteredBy ?effect)
            makeTemp(?strategy)
            ->  (?strategy rdf:type meta:Strategy)
                (?strategy ssn:forProperty ?configurableProperty)
                (?strategy meta:affectsPropertyWith ?effect)
                (?strategy meta:hasIdentifier ?strategy)
]

[rule3d:    (?thing rdf:comment ?propertyChange)
            (?propertyChange meta:enactedBy ?configurableProperty)
            (?propertyChange meta:affectsPropertyWith meta:ValueDecrease)
            (?configurableProperty rdf:type meta:ConfigurableProperty)
            (?propertyChange meta:alteredBy ?effect)
            makeTemp(?strategy)
            ->  (?strategy rdf:type meta:Strategy)
                (?strategy ssn:forProperty ?configurableProperty)
                (?strategy meta:affectsPropertyWith ?effect)
                (?strategy meta:hasIdentifier ?strategy)
]

[rule3e:    makeTemp(?strategy)
            ->  (?strategy rdf:type meta:Strategy)
                (?strategy meta:hasIdentifier ?strategy)
]

// TODO: need to finish the checks for conflicting optimizations and useless OptimalConditions.

//[rule4a:    (?thing meta:optimizesFor ?propertyChange1)
//            (?propertyChange1 meta:enactedBy ?property1)
//            (?thing meta:optimizesFor ?propertyChange2)
//            (?propertyChange2 meta:enactedBy ?property2)
//            (?propertyChange1 meta:affectsPropertyWith meta:ValueIncrease)
//            (?propertyChange2 meta:affectsPropertyWith meta:ValueDecrease)
//            ->  print("Contradicting optimizations detected!", ?thing, "optimizes for", ?property,
//                    "with both ValueIncrease and ValueDecrease through the following PropertyChanges:",
//                    ?propertyChange1, ?propertyChange2)
//]

//[rule4b:    
//]